/*@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');*/
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	/*height: 100%;*/
	min-height: 100vh;
	position: relative;
}

.notloaded{
	overflow: hidden;
}
.preloader-wrap{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	background-color: #fff;
}
.preloader-wrap.loaded{
	-webkit-animation: hide .5s forwards;
	animation: hide .5s forwards;
}
.preloader-wrap.loaded.hidden{
	display: none;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  top: calc(50% - 70px);
  text-align: center;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes hide {
  0% {
	  opacity: 1;
  }
  99%{
	  opacity:0;
  }
  100%{
	  display: none;
  }
}
@keyframes hide {
  0% {
	  opacity: 1;
  }
  99%{
	  opacity:0;
  }
  100%{
	  display: none;
  }
}
@-webkit-keyframes rotate {
  100% {
	-webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
	transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
	-webkit-transform: scale(0.0);
  }

  50% {
	-webkit-transform: scale(1.0);
  }
}

@keyframes bounce {
  0%, 100% {
	transform: scale(0.0);
  }

  50% {
	transform: scale(1.0);
  }
}

a:focus, button:focus, input[type=submit]:focus{
	outline: none;
}

.wrapper {
	padding-bottom: 100px;
	text-align: left;
	position: relative;
	min-height: 100%;
	min-height: 100vh;
	min-height: calc(100vh - 144px - 121px - 102px);
}

.wrapper h2 {
	text-align: left;
}

.wrapper h2:after {
	margin: 5px 0;
}

.footer_wrap {
	display: flex;
}

body a visited {
	text-decoration: none;
	color: #fff;
}

* {
	box-sizing: border-box;
}

.slider {
	margin: 50px auto;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 20px;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 100%;
}

.slick-prev:before,
.slick-next:before {
	color: black;
}

.md-close {
	border: 0;
	text-shadow: none;
}
@media screen and (max-width:768px) {
	.modal-contact{
		overflow: auto;
		max-height: 90vh;
	}
}

header {
	background-color: #0B293A;
	background-image: url("../img/header_bg.jpg");
	background-position: 0;
	margin-bottom: 100px;
}

h2 {
	font-weight: 700;
	font-size: 42px;
	color: #222328;
	line-height: 50px;
	position: relative;
	text-align: center;
}

h3 {
	font-size: 32px;
	margin-top: 40px;
	margin-bottom: 21px;
	font-weight: 800;
}

h2:after {
	content: '';
	width: 100px;
	height: 4px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b7bff+0,4bf9ff+100 */
	background: #4b7bff;
	/* Old browsers */
	background: -moz-linear-gradient(left, #4b7bff 0%, #4bf9ff 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #4b7bff 0%, #4bf9ff 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #4b7bff 0%, #4bf9ff 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4b7bff', endColorstr='#4bf9ff', GradientType=1);
	/* IE6-9 */
	display: block;
	margin: 5px auto;
}

p {
	/*font-family: 'Crimson Text', serif;
	font-size: 18px;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 28px;
}
.single .cont-data li,.single .cont-data p,.page .cont-data li,.page .cont-data p{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.page .cont-data p{
	text-indent: 22px;
}

.block {
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
}

.block:after {
	content: '';
	width: 100%;
	height: 102px;
	position: absolute;
	background: inherit;
	bottom: 0;
	transform-origin: right bottom;
	transform: skewY(-3deg);
	background: #0C293B;
	z-index: -1;
	left: 0;
}

:root {
	--bg: #4BE4FF;
	--primary: #4BE4FF;
	--solid: #fff;
	/*--btn-w: 11em;
	--btn-w1: 15em;*/
	--dot-w: calc(var(--btn-w)*.2);
	--dot-w1: calc(var(--btn-w1)*.2);
	/*--tr-X: calc(var(--btn-w) - var(--dot-w));*/
	--tr-X: calc(var(--btn-w) - var(--dot-w));
	--tr-X1: calc(var(--btn-w1) - var(--dot-w1));
}

* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

.lang.active{
	text-decoration: underline;
}

.btn {
	position: relative;
	margin: 0 auto;
	/*width: var(--btn-w);*/
	color: var(--primary);
	border: 1px solid var(--primary);
	border-radius: 5em;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	line-height: 2em;
	cursor: pointer;
	z-index: 2;
	font-weight: 300;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
	/*padding: 0 1em;*/
}
.btn1{
	width: var(--btn-w1);
}
.btn2{
	width: var(--btn-w);
}

.btn:hover {
	color: #fff;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.dot {
	content: '';
	position: absolute;
	top: 0;
	width: var(--dot-w);
	/*width: calc(var(--dot-w) + 1em);*/
	height: 100%;
	border-radius: 100%;
	transition: all 300ms ease;
	display: none;
}
.btn1 .dot{
	width: calc(var(--dot-w) + 1em);
}

.dot:after {
	content: '';
	position: absolute;
	left: calc(50% - .4em);
	top: -.4em;
	height: .8em;
	width: .8em;
	background: var(--primary);
	border-radius: 1em;
	border: .25em solid var(--solid);
	box-shadow: 0 0 .7em var(--solid), 0 0 2em var(--primary);
}

.btn2:hover .dot,
.btn2:focus .dot {
	animation: atom 2s infinite linear;
	display: block;
}

.btn1:hover .dot,
.btn1:focus .dot {
	animation: atom1 2s infinite linear;
	display: block;
}

@keyframes atom {
	0% {
		transform: translateX(0) rotate(0);
	}
	30% {
		transform: translateX(var(--tr-X)) rotate(0);
	}
	50% {
		transform: translateX(var(--tr-X)) rotate(180deg);
	}
	80% {
		transform: translateX(0) rotate(180deg);
	}
	100% {
		transform: translateX(0) rotate(360deg);
	}
}
@keyframes atom1 {
	0% {
		transform: translateX(0) rotate(0);
	}
	30% {
		transform: translateX(var(--tr-X1)) rotate(0);
	}
	50% {
		transform: translateX(var(--tr-X1)) rotate(180deg);
	}
	80% {
		transform: translateX(0) rotate(180deg);
	}
	100% {
		transform: translateX(0) rotate(360deg);
	}
}

.navbar-default {
	background: none;
}

.navbar {
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar-nav{
	margin-top: 20px;
}
.navbar-default .navbar-nav > li{
	padding: 9px 0 0px 0;
}
.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1.3px;
	font-weight: 400;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 70px;
	padding-top: 4px;
	padding-bottom: 4px;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.navbar-default .navbar-nav > li > a:hover {
	border: 1px solid #fff;
	color: #fff;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
	padding-top: 4px;
	padding-bottom: 4px;
}

.container-fluid {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-right a {
	color: #fff;
	font-weight: 200;
	font-size: 18px;
	padding: 0 8px;
	display: block;
	float: left;
}

.navbar-right a i {
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.navbar-right a i:hover {
	color: #4BEAFF;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.navbar-right {
	margin-top: 30px;
	color: #fff;
	padding: 0;
}

header h2 {
	color: #fff;
	text-align: left;
}

header h2:after {
	margin: 5px 0;
}

header p {
	color: #fff;
	font-weight: 400;
	margin-top: 40px;
}

.headlin {
	margin-top: 40px;
	margin-bottom: 40px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
}

.navbar-default .navbar-toggle {
	border-color: #4BEAFF;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b7bff+0,4bf9ff+100 */
	background: #4b7bff;
	/* Old browsers */
	background: -moz-linear-gradient(left, #4b7bff 0%, #4bf9ff 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #4b7bff 0%, #4bf9ff 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #4b7bff 0%, #4bf9ff 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4b7bff', endColorstr='#4bf9ff', GradientType=1);
	/* IE6-9 */
}

.h2_p {
	text-align: center;
	max-width: 40%;
	margin: 30px auto;
}

.main_a {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b7bff+0,4bf9ff+100 */
	background: #4b7bff;
	/* Old browsers */
	background: -moz-linear-gradient(left, #4b7bff 0%, #4bf9ff 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #4b7bff 0%, #4bf9ff 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #4b7bff 0%, #4bf9ff 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4b7bff', endColorstr='#4bf9ff', GradientType=1);
	/* IE6-9 */
	display: block;
	padding: 6px 22px;
	font-size: 18px;
	font-weight: 500;
	color: #222328;
	max-width: 200px;
	margin: 20px auto;
	text-transform: uppercase;
	text-align: center;
	border-radius: 30px;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	-moz-transition: all linear .3s;
	-ms-transition: all linear .3s;
	transition: all linear .3s;
	border: 0;
	font-family: Montserrat,sans-serif;
	text-indent: 0;
}

.main_a:hover {
	text-decoration: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b7bff+1,4bf9ff+72,4bf9ff+100 */
	background: #4b7bff;
	/* Old browsers */
	background: -moz-linear-gradient(left, #4b7bff 1%, #4bf9ff 72%, #4bf9ff 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #4b7bff 1%, #4bf9ff 72%, #4bf9ff 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #4b7bff 1%, #4bf9ff 72%, #4bf9ff 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4b7bff', endColorstr='#4bf9ff', GradientType=1);
	/* IE6-9 */
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	-moz-transition: all linear .3s;
	-ms-transition: all linear .3s;
	transition: all linear .3s;
	color: #2a6496;
}

.about {
	position: relative;
	margin-bottom: 104px;
}

/*section{
	overflow-x: hidden;
}*/

section:before{
	content: '';
	left: 0;
	right: 0;
	position: absolute;
	font-size: 200px;
	font-weight: 800;
	text-align: center;
	max-width: 100%;
	overflow: hidden;
	top: -100px;
}

.about:before {
	content: 'About';
	/*font-size: 200px;*/
	/*font-weight: 800;*/
	color: #F9F9F9;
	/*position: absolute;*/
	z-index: -1;
	top: -94px;
	text-align: center;
	/*width: 640px;
	max-width: 640px;
	padding-left: 320px;
	right: 50%;*/
	/*width: 840px;*/
	/*max-width: 840px;*/
	/*right: calc(50% - 420px);*/
}

.research:before {
	content: 'Research';
	/*font-size: 200px;*/
	/*font-weight: 800;*/
	color: rgba(255, 255, 255, 0.03);
	/*position: absolute;*/
	z-index: 1;
	/*right: 50%;*/
	top: -90px;
	/*width: 746px;*/
	/*padding-left: 325px;*/
}
.publications:before {
	content: 'Publications';
	/*font-size: 200px;*/
	/*font-weight: 800;*/
	color: #F9F9F9;
	/*position: absolute;*/
	z-index: -1;
	/*right: 15%;*/
	top: -108px;
}
.blog:before {
	content: 'Blog';
	/*font-size: 200px;*/
	/*font-weight: 800;*/
	color: rgba(0, 0, 0, 0.07);
	/*position: absolute;*/
	z-index: 1;
	/*right: 50%;*/
	top: -39px;
	/*padding-left: 223px;*/
	/*width: 447px;*/
	/*margin: auto;*/
	/*max-width:447px;*/
}

.research {
	background-color: #082B3E;
	margin-top: 80px;
	color: #fff;
	background-image: url("../img/stoune.jpg");
	min-height: 1181px;
	background-repeat: no-repeat;
	position: relative;
}

.research .btn {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b7bff+1,4bf9ff+100 */
	background: #4b7bff;
	/* Old browsers */
	background: -moz-linear-gradient(left, #4b7bff 1%, #4bf9ff 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #4b7bff 1%, #4bf9ff 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #4b7bff 1%, #4bf9ff 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4b7bff', endColorstr='#4bf9ff', GradientType=1);
	/* IE6-9 */
	font-size: 18px;
	font-weight: 500;
	color: #222328;
	border: 0;
	margin-bottom: 30px;
}

.research .learn_a {
	color: #222328;
	font-weight: 400;
	display: block;
}

.btn span {
	display: block;
	/*padding: 0 1em;*/
}
.btn span a{
	padding: 0 1em;
}

.research h2,
.research h3 {
	color: #fff;
	position: relative;
	z-index: 20;
}


.projects {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	margin-top: 20px;
}

.panel {
	width: 200px;
	border: #ccc solid 1px;
}

.panel > .title {
	cursor: pointer;
	background: #eee;
}

.panel > .inner {
	border-top: #ccc solid 1px;
}

.projects ul li>a {
	/*font-family: 'Crimson Text', serif;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #fff;
	display: block;
	cursor: pointer;
	background-image: url("../img/plus.png");
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 1px 8px;
}

#block1,
#block2,
#block3,
#block4,
#block5,
#block6,
#block7 {
	display: none;
	margin: 30px;
	font-family: 'Crimson Text', serif;
	font-size: 16px;
}

#block1 p,
#block2 p,
#block3 p,
#block4 p,
#block5 p,
#block6 p,
#block7 p {
	font-size: 16px;
}

ul li a:hover,
ul li a:active {
	text-decoration: none;
	color: #4BDFFF;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.publications {
	margin-top: 60px;
	position: relative;
	padding-bottom: 20px;
}



ul li:last-child {
	border-bottom: 0;
}

.projects {
	padding-bottom: 25px;
}

.slick-prev,
.slick-next {
	display: none!important;
}

.align_left {
	float: left;
	margin-right: 20px;
}

.align_right {
	float: right;
	margin-left: 20px;
}

h5 {
	font-size: 18px;
	color: #4f5362;
	line-height: 24px;
	margin-bottom: 30px;
	font-weight: 600;
}

.wrapper h5,
.wrapper h4 {
	margin-top: 30px;
}

.wrapper .main_a {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.slider p {
	font-size: 16px;
	color: #4f5362;
	margin-bottom: 30px;
}

.slider .pub-reference{
	font-size: 12px;
}

.nav_wrap {
	margin-top: -50px;
}

.back {
	text-transform: uppercase;
	color: #c2cad2;
	font-size: 12px;
	letter-spacing: 1.4px;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.back:hover {
	text-decoration: none;
	color: #115074;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}
.back .fa{
	margin-right: 7px;
}
.wrapper img{
	max-width: 100%;
}
.view {
	color: #4bb2ff;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.view:hover {
	text-decoration: none;
	color: #fff;
}

.favorit {
	margin-top: 20px;
	display: none;
}

.favorit a {
	margin-right: 25px;
}

.favorit .heart {
	color: #E21E1E;
}

.favorit .heart:hover {
	text-decoration: none;
}

.favorit .commenting {
	color: #4BB2FF;
}

.dat {
	font-size: 12px;
	letter-spacing: 2px;
	color: #a8acb9;
}

.dat:hover {
	text-decoration: none;
	color: #a8acb9;
}

.slick-slide {
	background-color: #FFF;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
	padding: 20px;
}

.slick-slide:hover {
	background-color: #082B3E;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.slick-slide:hover p,
.slick-slide:hover h5 {
	color: #fff;
}

.slick-slide:focus{
	outline: none;
}

.slick-dots li button {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	background-color: #F5F5F5;
	border-radius: 50px;
	padding: 4px;
	width: 40px;
	height: 40px;
}

.slick-dots li button:hover {
	background-color: #4BB2FF;
	color: #fff;
}

.slick-dots li.slick-active button {
	background-color: #4BB2FF;
	color: #fff;
}

.slick-dots li button:before {
	content: '';
	opacity: 0;
}

.slick-dots li.slick-active button:before {
	opacity: 0;
}

.slick-dots li {
	width: 24%;
	position: relative;
}

.slick-dots li:before {
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	left: 20px;
	background-color: #F5F5F5;
	top: 20px;
	z-index: -1;
}

.slick-dots li:last-child:before {
	display: none;
}

.slick-dots li:last-child {
	width: 40px;
}

.slick-dots li.slick-active:before {
	background-color: #4BB2FF;
}

.slick-dots {
	bottom: -75px;
}

.slick-dotted.slick-slider {
	position: relative;
}

.blog {
	background-color: #F3F4F4;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
}




/*Прокрутка стили*/

hr {
	height: 0;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.13);
	border-top: 1px solid rgba(0, 0, 0, 1);
	margin: 9px 10px;
	clear: both;
}

.links {
	margin: 10px;
}

.links a {
	display: inline-block;
	padding: 3px 15px;
	margin: 7px 10px;
	background: #444;
	text-decoration: none;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.links a:hover {
	background: #eb3755;
	color: #fff;
}

.output,
.info {
	margin: 20px 40px;
	background: #111;
	width: 50%;
	padding: 0 21px 0 19px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.output a {
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding-left: 19px;
	margin: 5px 40px 5px 0;
}

.output a.hidden {
	opacity: 0.3;
}

.output span {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 0;
	top: 3px;
	display: none;
	border-radius: 14px;
}

.output span.onScrollStart {
	background: #b0ef0a;
}

.output span.onTotalScrollBack {
	background: #f0df09;
}

.output span.onTotalScroll {
	background: #f08209;
}

.output span.onScroll {
	background: #0bbbee;
}

.output span.whileScrolling {
	background: #930bee;
}

.output span.hidden {
	visibility: hidden;
}

.info {
	padding: 0;
	background: transparent;
	color: #999;
}

.info .content-position,
.info .dragger-position,
.info .scroll-pct {
	color: #eee;
	display: inline-block;
	min-width: 40px;
	margin-right: 20px;
}

code {
	color: #5b70ff;
}

.total-scroll-offset-cb {
	color: #f08209;
}

.total-scroll-back-offset-cb {
	color: #f0df09;
}

.content {
	width: 100%;
	height: 500px;
	padding: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.content2 {
	width: 100%;
	height: 100%;
	padding: 20px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	position: relative;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:before {
	content: '';
	width: 9px;
	height: 9px;
	background-color: #4BB2FF;
	border-radius: 50px;
	position: absolute;
	top: 0px;
	left: -2px;
}

.img_wrap {
	text-align: right;
	overflow: hidden;
}

.img_wrap img {
	max-width: 100%;
	border-radius: 5px;
}

.content h3 {
	margin-top: 5px;
	color: #4f5362;
	font-weight: 700;
	font-size: 26px;
}

.blog_a {
	color: #4BB2FF;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.blog_a:hover {
	text-decoration: none;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.content2 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:before {
	left: -3px;
}

.blog_bottom {
	margin-top: 15px;
}

.blog .dat {
	text-align: right;
	float: right;
}

.clear {
	clear: both;
}

.blog_item {
	margin-top: 40px;
	margin-bottom: 40px;
}

.hiring {
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url("../img/hiring.jpg");
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	background-size: cover;
		background-position: center -2px;
}

.navbar-header {
	display: none;
}

.hiring p,
.hiring h5 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.hiring h2,
.hiring h5 {
	color: #fff;
}

.hiring h3 {
	margin-bottom: 40px;
}

.learn_a {
	color: #4BF2FF;
	font-weight: 300;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.learn_a:hover {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.hiring ul li {
	list-style-type: circle;
	border-bottom: 0;
	padding: 11px 0 11px 0;
}

.hiring ul {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding-bottom: 20px;
}

h6 {
	color: #4bb7ff;
	font-size: 18px;
	margin-top: 20px;
}

.form ul {
	padding-left: 20px;
}

.form-inline .form-control {
	width: 98%;
	margin-top: 8px;
}

.form-inline .form-group {
	width: 49%;
	border-radius: 30px;
}

.hiring form p {
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 0;
	font-size: 12px;
	margin-top: 20px;
}

.helpful4 {
	visibility: hidden;
}

header li {
	border: 0;
}

textarea.form-control {
	min-height: 199px;
}

.form-control {
	border-radius: 22px;
}

.footer {
	width: 100%;
	background: #4b7bff;
	background: -moz-linear-gradient(left, #4b7bff 0%, #4bf9ff 100%);
	background: -webkit-linear-gradient(left, #4b7bff 0%, #4bf9ff 100%);
	background: linear-gradient(to right, #4b7bff 0%, #4bf9ff 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4b7bff', endColorstr='#4bf9ff', GradientType=1);
}

.footer ul li a {
	color: #134f93;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}
.footer ul li a:hover{
	/*color: #134f93;
	background-color: #eee;*/
	color: #fff;
}

.copyright {
	text-align: right;
	/*margin-top: 30px;*/
	margin-top: 20px;
}
.copyright p{
	/*margin-top: 20px;*/
	line-height: 91px;
	font-family: Montserrat,sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #134f93;
}

.MathJax span{
	font-size: 16px;
}

.post-template-default .wrapper .container,.post-template-default .nav_wrap .container, .page-template-default .wrapper .container,.page-template-default .nav_wrap .container{
	width:900px;
	max-width: 100%;
}

/*Прокрутка стили*/

@media (max-width: 1400px){
	section:before{
		font-size: 120px;
		top: -70px;
	}
	.about:before{
		top: -43px;
	}
	.research:before{
		top: -49px;
	}
	.publications:before {
		top: -65px;
		/*right: 3%;*/
	}
	.blog:before{
		top: -6px;
	}
}
@media (max-width: 1200px) {
	section:before{
		font-size: 90px;
	}
	.about:before,.research:before{
		top: -24px;
	}
	/*.research:before{
		top: -24px;
	}*/
	.publications:before {
		top: -44px;
	}
	.blog:before{
		top: 13px;
	}

	.nav > li > a {
		padding: 10px 9px;
	}
	.navbar-right a {
		padding: 0 5px;
	}
	.navbar-nav {
		margin-left: 20px;
	}
	/*.publications:before {
		right: 0;
	}*/
	/*.research:before{
		padding-left: 280px;
	}*/
}

/*@media (max-width: 998px) {
	.research{
		overflow: hidden;
	}
}*/
@media (max-width: 991px) {
	.navbar-nav {
		margin-left: 0;
		margin-top: 0;
	}
	.navbar-right {
		margin-top: 0;
	}
}

@media (max-width: 980px) {
	header {
		background-position: -470px 7px;
	}
	.copyright p {
		text-align: center;
	}
   .navbar-left img{
	max-width: 100%;
   }
}

@media (max-width: 768px) {
	.h2_p {
		min-width: 100%;
	}
	/*.publications:before, .about:before, .blog:before, .research:before{*/
	section:before{
		display: none;
	}
	.hiring{
		background-image: none;
		background-color: #103047;
	}

	.slick-slide {
		width: 100%!important;
		margin-left: 0;
	}
	.slick-track {
		width: 100%!important;
		transform: none!important;
	}
	.navbar-collapse {
		margin-top: 20px;
	}
	.slick-dots {
		display: none !important;
	}
	.img_wrap {
		text-align: left;
		margin-bottom: 10px;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:active,
	.navbar-default .navbar-nav > li > a:visited {
		border-color: transparent;
		color: #4BF2FF;
		text-decoration: none;
	}
	.footer .nav > li {
		float: left;
		padding: 12px 0 12px 0;
	}
	.footer .nav {
		padding-left: 20px;
	}
	.copyright {
		margin-top: 0;
	}
	.content2 {
		height: 500px;
	}
	.mCSB_scrollTools {
		display: block;
	}
	.navbar-toggle {
		margin-top: 17px;
	}
	.navbar-collapse {
		border: 0;
	}
	.navbar-toggle {

		margin-left: 20px;
		position: absolute;
		z-index: 20;
		right: 20px;
	}
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
		margin: 0;
	}
	.navbar-header {
		position: absolute;
		top:0;
		display: block;
		height: 64px;
		right: 0;

	}
	.navbar-right {
		position: absolute;
		top: 56px;
		right: 0;
		width: auto;
		padding: 15px;
		margin-top: 10px;
	}
	.navbar-nav {
		padding-top: 40px;
	}
	.navbar-nav li {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.block {
		margin-top: 40px;
	}
	.navbar-collapse.in {
		overflow: hidden;
		width: 100%;
	}
	.nav_wrap{
		margin-top: 0;
	}
}

@media (max-width: 640px) {
	.research {
		background-image: none;
	}
	.form-inline .form-group {
		width: 100%;
	}

}

@media (max-width: 380px){

.navbar-header{
	top:10px;
}
.navbar-right{
	top:55px;
}
.container-fluid{
	padding-bottom: 45px;
}
}
